.user-list-component {

 .block {
   border-right: 1px solid #ececec;
   max-height: 95vh;
   overflow-y: scroll ;
   .users {
     display: flex;
     margin-bottom: 1rem ;

     &:hover {
       cursor: pointer;
       background: #ececec;
       border-radius: 10px;
     }
     .image {
       align-self: center;
       img {
         border-radius: 50%;
         box-shadow: 0 2px 5px;
         width: 50px;
       }
     }
     .title {
       font-size: 1.25rem;
       color: #3988FF;
     }
   }
 }
}

.selected {
  background: #cecbd2;
}
