<div class="user-list-component">
  <h2>Kullanıcı Listesi</h2>
  <div *ngIf="userList.length" class="block">
    <div *ngFor="let item of userList; index as i;" class="users">
      <div class="image">
        <img [src]="item.picture" class="align-self-center">
      </div>
      <div class="mx-3">
        <div class="title">{{ item.title }} {{ item.firstName }} {{ item.lastName }} </div>
        <div>Email: {{ item.firstName.toLowerCase() }}. {{ item.lastName.toLowerCase() }}@example.com </div>
        <div>Phone: 0555 123 45 67 </div>
      </div>
    </div>
  </div>
</div>
