.dashboard-component {
  .welcome-logo {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }
}

.test {
  background: #F2F2F2;
}

