<div class="row">
  <div class="col-md-4 col-sm-12 col-12 m-auto mt-3 login-component">
    <form novalidate>
      <app-logo [description]="'Şifrenizi sıfırlamak istediğiniz Email adresini girin'"></app-logo>
      <app-input [text]="'E-mail'" [type]="'email'" [name]="'email'" [value]="email" [placeholder]="'E-mail adresinizi giriniz'" (sendInputEmitter)="getValue($event)"></app-input>
      <span *ngIf="error" class="m-form__help text-danger">Geçerli bir email adresi giriniz.</span>
      <app-button [type]="'reset'" [buttonName]="'Şifremi Sıfırla'" (clickButtonEmit)="buttonClickEvent($event)"></app-button>
      <div class="w-100 text-center mb-3 mt-5">
        <a routerLink="/login" href="javascript:void(0)">veya Giriş Yapın </a>
      </div>
    </form>
  </div>
</div>

